/* 
@media screen {
    body{
        background-color: rgb(255, 220, 207);
    }
    
    div{
        border: 20px double deeppink ;
        background-color: pink ;
    }
}

@media print{
    div{
        border: 3px solid deeppink;
    }
} */

@import url(print.css) print;

@import url(screen.css) screen;